* text=auto
*.jar binary
*.swf binary
*.swc binary
*.spk binary
*.png binary
*.gif binary
*.jpg binary
*.gif binary
*.tif binary
*.zip binary
*.war binary
*.ear binary
*.tif binary
*.xls binary
*.xlsx binary
*.jj binary
*.crf binary
*.sas7bdat binary

